#header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    margin-left: 100px;
    margin-right: 100px;
    /* border: 1px green solid; */
}

#header-left {
    display: flex;
    gap: 40px;
    align-items: center;
}

.header-left-logo {
    display: flex;
    gap: 10px;
    align-items: center;

    /* border: 1px black solid; */
}

#header-left a:hover, #sign_in {
    cursor: pointer;
    background-color: #3e87e6;
    border-radius: 10px;
    color: white;
}

.link {
    padding: 15px 30px 15px 30px;
    text-decoration: none;
    color: black;
}


.log_sign {
    color: white;
    font-size: 16px;
    width: 80px;
    height: 35px;
    background-color: #3e87e6;
    border: none;
    border-radius: 10px;
}

.log_sign:hover {
    background-color: gray;
    cursor: pointer;
}

.logo-knife {
    height: 36px;
    width: auto;
}