#footer_container {
    display: flex;
    justify-content: center;
    align-items: center;

    /* border: 1px red solid; */
}

.logo {
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo-knife {
    height: 20px;
}