<div id="body">
    <div class="register-container">
        <div class="logo">
            <h2>LetEmCook</h2>
            <img src="../assets/knife.png" alt="knife" class="knife">
        </div>
        <div class="info_sign_container">
            <form>
                <div class="form-info">
                    <input type="text" name="email" placeholder="Email">
                    <input type="password" name="password" placeholder="Password">
                    <br>
                    <input type="submit" value="Sign In">
                </div>
            </form>
            <div id="signin_container">
                <p class="signin_blurb">Don't have an account?</p>
                <a class="signin_link" routerLink="/register">Register</a>
            </div>
        </div>
    </div>
</div>

<div *ngFor="let user of users$ | async">
    <span>{{user.email}}: {{user.password}}</span>
</div>