#body {
    background-color: #e3e2dc;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo:hover {
    cursor: pointer;
}

.knife {
    height: 28px;
}

.form-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#signin_container {
    text-align: center;
}

.signin_blurb, p {
    margin-bottom: 0px;
    font-size: 14px;
}

.signin_link {
    text-decoration: none;
    font-size: 12px;
}

.info_sign_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 auto;
    margin-top: 12px;
}

input.ng-invalid.ng-touched {
    border: 2px red solid;
}

.error_container {
    font-size: 10px;
    padding-left: 20px;
    color: red;
    margin: 0px;
    margin-top: 5px;

    /* border: 1px solid black; */
}