<div id="body">
    <div class="register-container">
        <div class="logo">
            <h2>LetEmCook</h2>
            <img src="../assets/knife.png" alt="knife" class="knife">
        </div>
        <div class="info_sign_container">
            <form [formGroup]="form" (ngSubmit)="loginForm()">
                <div class="form-info">
                    <input formControlName="email" type="text" name="email" placeholder="Email">
                    <input formControlName="password" type="password" name="password" placeholder="Password">
                    <input [disabled]="form.invalid" type="submit" value="Sign In">
                </div>
                <ul class="error_container">
                    <li *ngIf="valid">Email doesn't exist or password is incorrect</li>
                    <li *ngIf="form.controls['email'] && form.controls['email'].invalid && form.controls['email'].touched">Email must be valid</li>
                    <li *ngIf="form.controls['password'] && form.controls['password'].invalid && form.controls['password'].touched">Password cannot be empty</li>
                </ul>
            </form>
            <div id="signin_container">
                <p class="signin_blurb">Don't have an account?</p>
                <a class="signin_link" routerLink="/register">Register</a>
            </div>
        </div>
    </div>
</div>

<div *ngFor="let user of users$ | async">
    <span>{{user.email}}: {{user.password}}</span>
</div>