<app-header></app-header>
<div id="recipes_container">
    <div id="title_container">
        <h2 class="recipe_title">Your Recipes</h2>
        <span routerLink='/new_recipe' class="add_recipe">+</span>
    </div>
    <div *ngFor="let recipe of recipes$ | async">
        <div class="single_recipe">
            <p *ngIf="recipe" class="recipe">{{recipe.title}}</p>
            <div id="edit_delete">
                <button (click)="editRecipe(recipe.idrecipe)" class="edit">Edit/View</button>
                <button (click)="deleteRecipe(recipe.idrecipe)" class="delete">Delete</button>
            </div>
        </div>
    </div>
</div>

<app-confirm-dialog *ngIf="showModal" 
                    (confirmed)="onConfirmDelete()" 
                    (canceled)="onCancelDelete()">
</app-confirm-dialog>