#home_body_container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;

    /* border: 1px black solid; */
}

.home_body_text_container {
    width: 500px;

    /* border: 1px red solid; */
}

.text_title {
    font-size: 70px;
    margin-bottom: 10px;
}

.text_body {
    font-size: 20px;
}

.cook {
    height: 380px;
    width: auto;

    /* border: 1px green solid; */
}

.start {
    color: white;
    font-size: 16px;
    width: 150px;
    height: 50px;
    background-color: #3e87e6;
    border: none;
    border-radius: 10px;
}

.start:hover {
    background-color: gray;
    cursor: pointer;
}