<div id="home_body_container">
    <div class="home_body_text_container">
        <h1 class="text_title">Cooking doesn't need to be hard</h1>
        <p class="text_body"> Just beginning to cook? Write and remember recipes YOUR way.</p>
        <button *ngIf="isLoggedIn()" routerLink="/recipes" class="start">Get Started</button>
        <button *ngIf="!isLoggedIn()" routerLink="/register" class="start">Get Started</button>
    </div>
    <img src="../assets/cook.png" alt="a cook" class="cook">
</div>