<section id="about">
    <div class="container">
        <h2 class="section-title">About Us</h2>
        <p class="section-description">A simple platform for you to remember your recipes better</p>
        <div class="reasons">
            <div class="reason">
                <h3>Accessibility</h3>
                <p>Our platform ensures that everyone can create and share their recipes hassle-free. From novice cooks to seasoned chefs, our intuitive interface welcomes all, providing a straightforward experience for documenting your culinary creations.</p>
            </div>
            <div class="reason">
                <h3>Organization</h3>
                <p>Seamlessly structure and manage your recipes in one convenient space. Our meticulously designed system allows you to categorize, tag, and easily retrieve your recipes, keeping your culinary inspiration neatly organized and readily accessible whenever you need it.</p>
            </div>
            <div class="reason">
                <h3>Flexibility</h3>
                <p>Embrace the freedom to express your culinary prowess! Our platform is your canvas to personalize recipes, experiment with ingredients, and adapt methods to suit your taste and preferences. Whether it's a secret family recipe or a daring fusion dish, make it uniquely yours and share it with the world.</p>
            </div>
            <div class="reason">
                <h3>Community</h3>
                <p>Join a vibrant community of food lovers! Share your culinary triumphs, discover new recipes from fellow enthusiasts, and engage in meaningful discussions about cooking techniques and food culture. Our platform fosters a supportive environment where you can grow your skills and passion for cooking alongside like-minded individuals.</p>
            </div>
        </div>
    </div>
</section>