<div id="about_us_container">
    <h2 class="about">About Us</h2>
    <p class="about-text">A simple platform for you to remember your recipes better</p>
    <div id="reason_container">
        <div class="reason">
            <h3>Accessibillity</h3>
            <p>Our platform ensures that everyone can create and share their recipes hassle-free. From novice cooks to seasoned chefs, our intuitive interface welcomes all, providing a straightforward experience for documenting your culinary creations.</p>
        </div>
        <div class="reason">
            <h3>Organization</h3>
            <p>Seamlessly structure and manage your recipes in one convenient space. Our meticulously designed system allows you to categorize, tag, and easily retrieve your recipes, keeping your culinary inspiration neatly organized and readily accessible whenever you need it.</p>
        </div>
        <div class="reason">
            <h3>Flexibility</h3>
            <p>Embrace the freedom to express your culinary prowess! Our platform is your canvas to personalize recipes, experiment with ingredients, and adapt methods to suit your taste and preferences. Whether it's a secret family recipe or a daring fusion dish, make it uniquely yours and share it with the world.</p>
        </div>
    </div>
</div>