<router-outlet></router-outlet>
<div id="body">
    <div class="register-container">
        <div class="logo">
            <h2>LetEmCook</h2>
            <img src="../assets/knife.png" alt="knife" class="knife">
        </div>
        <form>
            <div class="form-info">
                <input type="text" name="email" placeholder="Email">
                <input type="text" name="password" placeholder="Password">
                <input type="text" name="confirmpassword" placeholder="Confirm Password">
                <input type="submit" value="Create Account">
            </div>
        </form>
        <div>
            <p>Already have an account?</p>
            <button routerLink="/signin">Sign in</button>
        </div>
    </div>
</div>