/* You can add global styles to this file, and also import other style files */
body {
    margin: 0px;
    /* padding: 25px; */
    font-family: sans-serif;
}

.register-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px 20px 20px 20px;
    border-radius: 10px;
    width: 180px;
    height: 250px;
}